<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Siemens.Automation.bfapicmx_csharpsamplex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Siemens.Automation.bfapicmx_csharpsamplex.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Domain" serializeAs="String">
        <value />
      </setting>
      <setting name="Computer" serializeAs="String">
        <value />
      </setting>
      <setting name="Application" serializeAs="String">
        <value />
      </setting>
      <setting name="Dump2FilesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ManyMaterialsPath" serializeAs="String">
        <value />
      </setting>
    </Siemens.Automation.bfapicmx_csharpsamplex.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="Username" value="superuser" />
    <add key="Password" value="superuser" />
    <add key="Dumpfile" value="C:\Temp\" />
    <add key="Batchml" value="C:\Temp\BML-Data.xml" />
    <add key="Manymaterials" value="" />
    <add key="ObjectdataHeader" value="C:\TEMP\BFAPIGetObjectData.xml" />
    <add key="Backupfile" value="C:\Temp\BatchX" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>